<%- include header %>

<% posts.forEach(function(post,index){%>
<div class="post">
    <h2 class="title"><a href="/u/<%= post.name%>/<%= post.time.day%>/<%= post.title%>"><%= post.title%> </a></h2>
    <p class="meta"><%= post.time.minute%> Posted by <a href="#"><%= post.name %></a></p>
    <div class="entry">
        <%- post.post%>


    </div>

    <% post.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
    <% }) %>

</div>
<% }) %>
<%- include paging %>
<%- include right %>
<%- include footer %>